mat-tab-group {
    background-color: white; 
    height: 92%;
}
  
.transactions{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.form-parent{
    box-shadow: none !important;
}