<app-header [func]="navToLogin" [headerText]="headerText"></app-header>
<div class="div-form-wrapper">
    <div class="form-wrapper">
        <div><h1>Welcome to Fleeca</h1></div>
        <form class="the-form" [formGroup]="registerForm" (submit)="onSubmit()">
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" formControlName="username" class="form-eater">
            </div>
            <div>
                <label for="firstname">First name: </label>
                <input type="text" name="firstname" formControlName="firstname" class="form-eater">
            </div>
            <div>
                <label for="lastname">Last name: </label>
                <input type="text" name="lastname" formControlName="lastname" class="form-eater">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" formControlName="password" class="form-eater">
            </div>
            <div>
                <label for="confirmPass">Confirm Password: </label>
                <input type="password" name="confirmPass" formControlName="confirmPass" class="form-eater">
                <small *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPass')?.dirty" style="color: red">
                    Passwords don't match.
                </small>
            </div>
            <div>
                <button class="the-button">Login</button>
            </div>
        </form>
        <span *ngIf="error"><h2>{{ error }}</h2></span> 
    </div>
</div>