<div class="form-parent">
    <h1>New Payment</h1>
    <div *ngIf="!transactionCompleted; else transactionCompleteTemplate">
        <form class="payment-form" #paymentForm="ngForm" (submit)="transferAmount(paymentForm)">
            <div>
                <label for="from">From:</label>
                <input type="text" name="from" class="form-eater" [(ngModel)]="fromString" disabled>
            </div>  
            <div>
                <label for="to">To:</label>
                <input type="text" name="to" class="form-eater" (keyup)="onKeyUp()" appNumericInput inputmode="numeric" [(ngModel)]="targetInput">
                <small>{{ targetMessage }}</small>
            </div>
            <div>
                <label for="amount">Amount [CHF]:</label>
                <input type="text" name="amount" class="form-eater" inputmode="numeric" appNumericInput [(ngModel)]="amountString" (keyup)="onKeyUpAmount()">
                <small>{{ targetAmountMessage }}</small>
            </div>
            <div>
                <button type="submit" class="the-button" id="pay-btn">Pay</button>
            </div>
        </form>
    </div>
    <ng-template  #transactionCompleteTemplate>
        <form class="success-form">
            <p>Transaction to <strong>{{ targetInput }}</strong> succeeded!</p>
            <p>New balance <strong>{{ currency(currentBalance) }}</strong></p>
            <button (click)="startOver()" class="the-button">Start Over</button>
        </form>
    </ng-template>
    <div>
        <p id="errormsg">{{ error }}</p>
    </div>
</div>