<div>
    <div class="form-parent table-container" [ngClass]="{'cockpit': cockpit}">
        <h1>Latest Transactions</h1>
        <div style="overflow-x: auto;">
            <table mat-table [dataSource]="dataSource" matSort #tbSort="matSort" (matSortChange)="applySort($event)">
                <ng-container matColumnDef="Source">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
                    <td mat-cell *matCellDef="let transaction">{{ transaction.from }}</td>
                </ng-container>
                <ng-container matColumnDef="Target">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Target</th>
                    <td mat-cell *matCellDef="let transaction">{{ transaction.target }}</td>
                </ng-container>
                <ng-container matColumnDef="Amount">    
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount [CHF]</th>
                    <td mat-cell *matCellDef="let transaction">{{ currency(transaction.amount) }}</td>
                </ng-container>
                <ng-container matColumnDef="Balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance [CHF]</th>
                    <td mat-cell *matCellDef="let transaction">{{ currency(transaction.total) }}</td>
                </ng-container>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let transaction">{{ format(transaction.date) }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons class="custom-paginator"></mat-paginator>
    
        </div>
    </div>  
</div>